{% extends 'AdminBundle::layout.html.twig' %} 
{% block title %} Edit profile {% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}    
    </div>
</div>
{% endblock %}