{% extends 'AdminBundle::layout.html.twig' %} 

{% block title %} Profile {% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        <div class="row text-center">
        	<a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}"> <span>Edit</span></a>
        	<a class="btn btn-warning" href="{{ path('fos_user_change_password') }}"> <span>Change password</span></a>
        </div>
    </div>
</div>
{% endblock %}