{{ form_start(form) }}
<div class="row">	
	<div class="col-md-4 col-md-offset-4">
		<div class="form-group">
	        {{ form_label(form.title) }}
	        {{ form_errors(form.title) }}
	        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
	    </div>
	    <div class="form-group">
	        {{ form_label(form.description) }}
	        {{ form_errors(form.description) }}
	        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
	    </div>
	    <div class="form-group">
	        {{ form_widget(form.enabled) }}
	        {{ form_label(form.enabled) }}
	    </div>
		<input class="btn btn-primary" type="submit" value="Save" />
	</div>
</div>
{{ form_end(form) }}