{% extends 'EmployerBundle::layout.html.twig' %}
{% block content %}
	<div class="row action-bar">
		<div class="col-md-6">
			
		</div>
		<div class="col-md-6">
			<a class="btn btn-primary pull-right" href="{{ path('vacancy_new') }}"> <i class="fa fa-plus"></i> New </a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <table class="table table-bordered table-striped table-hover">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Title</th>
		                <th>Description</th>
		                <th>Enabled</th>
		                <th>Created At</th>
		                
		                <th class="text-right">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for vacancy in vacancies %}
		            <tr>
		                <td><a href="{{ path('vacancy_show', { 'id': vacancy.id }) }}">{{ vacancy.id }}</a></td>
		                <td>{{ vacancy.title }}</td>
		                <td>{{ vacancy.description }}</td>
		                <td>{{ vacancy.enabled ? 'Yes' : 'No' }}</td>
		                <td>{{ vacancy.createdAt|date('m/d/Y') }}</td>
		                <td>
		                    <div class="btn-group pull-right">
								<a class="btn btn-xs btn-default" href="{{ path('vacancy_edit', { 'id': vacancy.id }) }}">edit</a>
								<a class="btn btn-xs btn-default" href="{{ path('vacancy_show', { 'id': vacancy.id }) }}">show</a>
							</div>
		                </td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
	</div>
{% endblock %}
