{% extends 'EmployerBundle::layout.html.twig' %}

{% block content %}	
	<div class="row action-bar">
		<div class="col-md-6">
			<a class="btn btn-default" href="{{ path('vacancy_index') }}"> <i class="fa fa-arrow-left"></i> Back </a>
		</div>
		<div class="col-md-6">
			
		</div>
	</div>
	{% include "EmployerBundle:Vacancy:form.html.twig" %}
{% endblock %}
