{% extends 'EmployerBundle::layout.html.twig' %}

{% block content %}
<div class="row action-bar">
	<div class="col-md-6">
		<a class="btn btn-default" href="{{ path('vacancy_index') }}"> <i class="fa fa-arrow-left"></i> Back </a>
	</div>
	<div class="col-md-6">
		{{ form_start(delete_form) }}
			<div class="btn-group pull-right">
				<input class="btn btn-danger" type="submit" value="Delete" onClick="return confirm('Are you sure?');">
				<a class="btn btn-default" href="{{ path('vacancy_edit', { 'id': vacancy.id }) }}"> <i class="fa fa-pencil"></i> Edit </a>
			</div>
        {{ form_end(delete_form) }}
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
	    <dl class="dl-horizontal">
			<dt>Id</dt>
			<dd>{{ vacancy.id }}</dd>
            <dt>Title</dt>
			<dd>{{ vacancy.title }}</dd>
            <dt>Description</dt>
			<dd>{{ vacancy.description }}</dd>
			<dt>Enabled</dt>
			<dd>{{ vacancy.enabled ? 'Yes' : 'No' }}</dd>
		</dl>
	</div>
</div>
{% endblock %}
