{% extends 'SiteBundle::layout.html.twig' %}
{% block content %}
	<div class="row">
		{% for vacancy in vacancies %}
			<div class="col-md-4">
				<div class="col-md-12 card">
					<h2>{{ vacancy.title }}</h2>
					<p>{{ vacancy.description }}</p>
				</div>
			</div>
		{% endfor %}		
	</div>
{% endblock %}
