<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jobs {% endblock %}</title>
        {% block stylesheets %}
        	{% stylesheets
			    'css/bootstrap.min.css'
			    filter='cssrewrite' output='css/compiled/style.css' %}
			    <link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
        {% endblock %}
        {% stylesheets
		    'css/font-awesome.min.css'
		    filter='cssrewrite'%}
		    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	    
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
			{% javascripts
			    'js/jquery.min.js'
			    'js/bootstrap.min.js'
			    output='js/compiled/app.js' %}
			    <script src="{{ asset_url }}"></script>
			{% endjavascripts %}
        {% endblock %}
    </body>
</html>
