{% extends 'base.html.twig' %}
{% block body %}
<div id="wrapper">

	<!-- Navigation -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Jobs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
   
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('fos_user_security_login') }}">Log In</a></li>
        <li>
        	<p class="navbar-btn">
        		<a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">Sign Up</a>
        	</p>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div class="container">
	{% block content %}{% endblock %}
	</div>
	<!-- /#page-wrapper -->

</div>
{% endblock %}

{% block stylesheets %} 
	{{ parent() }} 

	{% stylesheets '@SiteBundle/Resources/public/css/site.css' filter='cssrewrite' output='css/compiled/site.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %} 
{% endblock %} 
