{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- Admin Area {% endblock %}  
{% block body %}
<div id="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Jobs</a>
			<p class="navbar-text">Signed in as {{ app.user.username }}</p>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
					<i class="fa fa-user fa-fw"></i>
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-user">
					<li>	
						<a href="{{ path('fos_user_profile_show') }}">
						<i class="fa fa-user fa-fw"></i> User Profile</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="{{ path('fos_user_security_logout') }}"
						<i class="fa fa-sign-out fa-fw"></i> Logout</a>
					</li>
				</ul>
			</li>
		</ul>
		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">
					<li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard fa-fw"></i>
							Dashboard </a></li>
					<li><a href="{{ path('admin_user_index') }}"><i
							class="fa fa-users fa-fw"></i> Users </a></li>
					<li>
						<a href="#">
							<i class="fa fa-newspaper-o fa-fw"></i> 
							Vacancies <span class="fa arrow"></span>
						</a>
						<ul class="nav nav-second-level">
							<li><a href="{{ path('admin_vacancy_index') }}">All</a></li>
							<li><a href="{{ path('admin_vacancy_index', {'filter': 'today'}) }}">Today</a></li>
							<li><a href="{{ path('admin_vacancy_index', {'filter': 'week'}) }}">This week</a></li>
							<li><a href="{{ path('admin_vacancy_index', {'filter': 'month'}) }}">This month</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="page-wrapper">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock %} 

{% block stylesheets %} 
	{{ parent() }} 
	{% stylesheets
		'@AdminBundle/Resources/public/css/metisMenu.min.css'
		'@AdminBundle/Resources/public/css/sb-admin-2.min.css'
		'@AdminBundle/Resources/public/css/admin.css'
		filter='cssrewrite' output='css/compiled/admin.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %} 
{% endblock %} 
{% block javascripts %} 
	{{ parent() }} 
	{% javascripts 
		'@AdminBundle/Resources/public/js/metisMenu.min.js'
		'@AdminBundle/Resources/public/js/sb-admin-2.min.js' %}
			<script src="{{ asset_url }}"></script>
	{% endjavascripts %} 
{% endblock %}