{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="row">
	    <div class="col-md-4 col-md-offset-4">
			<h2>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h2>
		</div>
	</div>
    <div class="row">
	    <div class="col-md-4 col-md-offset-4">
			<a href="{{ path('fos_user_security_login') }}"> Login </a>
		</div>
	</div>
{% endblock fos_user_content %}