{% trans_default_domain 'FOSUserBundle' %}
<div class="row">	
	<div class="col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Sign Up</h3>
			</div>
			<div class="panel-body">
			{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}     
				<div class="form-group">
			        {{ form_label(form.email) }}
			        {{ form_errors(form.email) }}
			        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			    </div>
			    <div class="form-group">
			        {{ form_label(form.username) }}
			        {{ form_errors(form.username) }}
			        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
			    </div>
			    {% for passwordField in form.plainPassword %}
			    <div class="form-group">
			        {{ form_label(passwordField) }}
			        {{ form_errors(passwordField) }}
			        {{ form_widget(passwordField, {'attr': {'class': 'form-control'}}) }}
			    </div>
				{% endfor %}
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
			{{ form_end(form) }}
			</div>
		</div>
	</div>		
</div>