{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    
    <div class="form-group">
        {{ form_label(form.current_password) }}
        {{ form_errors(form.current_password) }}
        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    {% for passwordField in form.plainPassword %}
    <div class="form-group">
        {{ form_label(passwordField) }}
        {{ form_errors(passwordField) }}
        {{ form_widget(passwordField, {'attr': {'class': 'form-control'}}) }}
    </div>
	{% endfor %}
    
    
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div> 
{{ form_end(form) }}
