{% extends 'AdminBundle::layout.html.twig' %} 
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
        {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
    </div>
</div>
{% endblock %}


