{% trans_default_domain 'FOSUserBundle' %} {% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="col-md-4 col-md-offset-4">
	<div class="login-panel panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Please Sign In</h3>
		</div>
		<div class="panel-body">
			<form role="form" action="{{ path("fos_user_security_check") }}" method="post">
				{% if csrf_token %} 
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /> 
				{% endif %}
				<fieldset>
					<div class="form-group">
						<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" 
							placeholder="{{'security.login.username'|trans }}" required="required" autofocus/>
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="{{ 'security.login.password'|trans }}" name="_password"
							type="password" required="required">
					</div>
					<div class="checkbox">
						<label> <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
						</label>
					</div>
					<!-- Change this to a button or input when using this as a form -->
					<input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
				</fieldset>
			</form>
		</div>
	</div>
	<a href="{{ path("fos_user_registration_register") }}"> Register </a>
</div>
