{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
	    '@AdminBundle/Resources/public/css/sb-admin-2.min.css'	    
	    filter='cssrewrite' output='css/compiled/admin.css' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %} 
{% block body %}
<div class="container">
	<div class="row">
		{% block fos_user_content %}
		{% endblock %}
	</div>
</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts
	    '@AdminBundle/Resources/public/js/sb-admin-2.min.js' %}
	    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}