{% extends "base_externo.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
	<div class="small-12 large-6 large-offset-3 columns">
		<h1>Email enviado com sucesso</h1>
        <p>
			{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>
    </div>
</div>
{% endblock %}
