{% extends "base_mail.html.twig" %} {% block body %}
<table
	style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
	<tbody>
		<tr style="padding: 0; text-align: left; vertical-align: top">
			<th
				style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 19px; margin: 0; padding: 0; text-align: left">
				<table class="spacer"
					style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
					<tbody>
						<tr style="padding: 0; text-align: left; vertical-align: top">
							<td height="32px"
								style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 32px; font-weight: 400; hyphens: auto; line-height: 32px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"></td>
						</tr>
					</tbody>
				</table>
				<table
					style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
					<tbody>
						<tr style="padding: 0; text-align: left; vertical-align: top">
							<th
								style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 19px; margin: 0; padding: 0; text-align: left"><h1
									class="text-center"
									style="Margin: 0; Margin-bottom: 10px; color: inherit; font-family: Helvetica, Arial, sans-serif; font-size: 34px; font-weight: 400; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: center; word-wrap: normal">Recuperação
									de senha solicitada</h1></th>
						</tr>
					</tbody>
				</table>
				<table class="spacer"
					style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
					<tbody>
						<tr style="padding: 0; text-align: left; vertical-align: top">
							<td height="16px"
								style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 16px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"></td>
						</tr>
					</tbody>
				</table>
				<p
					style="Margin: 0; Margin-bottom: 10px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Olá,
					{{ user.username }}</p>
				<p
					style="Margin: 0; Margin-bottom: 10px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Foi
					solicitado um link para recuperação de senha da sua conta.</p>
				<p
					style="Margin: 0; Margin-bottom: 10px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Acesse
					o link abaixo para recuperar sua senha</p>
				<table class="button"
					style="Margin: 0 0 16px 0; border-collapse: collapse; border-spacing: 0; margin: 0 0 16px 0; padding: 0; text-align: left; vertical-align: top; width: auto !important">
					<tbody>
						<tr style="padding: 0; text-align: left; vertical-align: top">
							<td
								style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"><table
									style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
									<tbody>
										<tr style="padding: 0; text-align: left; vertical-align: top">
											<td
												style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; background: #2199e8; border: 2px solid #2199e8; border-collapse: collapse !important; color: #fefefe; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"><a
												href="{{ confirmationUrl }}"
												style="Margin: 0; border: 0 solid #2199e8; border-radius: 3px; color: #fefefe; display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 700; line-height: 1.3; margin: 0; padding: 8px 16px 8px 16px; text-align: left; text-decoration: none">Recuperar
													senha</a></td>
										</tr>
									</tbody>
								</table></td>
						</tr>
					</tbody>
				</table> <br>

					<p
						style="Margin: 0; Margin-bottom: 10px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left">Se
						você não solicitou a recuperação de senha ignore este e-mail.</p>
					<table class="spacer"
						style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
						<tbody>
							<tr style="padding: 0; text-align: left; vertical-align: top">
								<td height="16px"
									style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 16px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"></td>
							</tr>
						</tbody>
					</table>
					<table class="spacer"
						style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
						<tbody>
							<tr style="padding: 0; text-align: left; vertical-align: top">
								<td height="16px"
									style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 16px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"></td>
							</tr>
						</tbody>
					</table>
			</th>
			<th class="expander"
				style="Margin: 0; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 19px; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
		</tr>
	</tbody>
</table>
{% endblock %}