{% extends "base_externo.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
	<div class="small-12 large-6 large-offset-3 columns text-center">
		<p>{{ 'resetting.password_already_requested'|trans }}</p>
	</div>
</div>
{% endblock body %}
