{% extends "base_externo.html.twig" %}

{% block body %}
<div class="row">
	<div class="small-12 large-4 large-offset-4 columns">
	<h1>Recuperar senha</h1>
		{% include "@FOSUser/Resetting/request_content.html.twig" %}
   	</div>
</div>
{% endblock body %}
