{% extends 'EmployerBundle::layout.html.twig' %} 
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="row action-bar">
			<div class="col-md-6">
				<h3> Dashboard </h3>
			</div>
			<div class="col-md-6">
			
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-newspaper-o fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{ total_vacancies }}</div>
						<div>Vacancies!</div>
					</div>
				</div>
			</div>
			<a href="{{ path('vacancy_index') }}">
				<div class="panel-footer">
					<span class="pull-left">View More</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}
