{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
	<div class="row action-bar">
		<div class="col-md-6">
			<a class="btn btn-default" href="{{ path('admin_user_index') }}"> <i class="fa fa-arrow-left"></i> Back </a>
		</div>
		<div class="col-md-6">
			{{ form_start(delete_form) }}
                <input class="btn btn-danger pull-right" disabled="{% if is_granted('ROLE_SUPER_ADMIN') %} disabled {% endif %}" type="submit" value="Delete" onClick="return confirm('Are you sure?');">
            {{ form_end(delete_form) }}
		</div>
	</div>
    {% include "AdminBundle:User:form.html.twig" %}
{% endblock %}
