{{ form_start(form) }}
<div class="row">	
	<div class="col-md-4 col-md-offset-4">
		<div class="form-group">
	        {{ form_label(form.username) }}
	        {{ form_errors(form.username) }}
	        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
	    </div>
	    <div class="form-group">
	        {{ form_label(form.email) }}
	        {{ form_errors(form.email) }}
	        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	    </div>
	    <div class="form-group">
	        {{ form_label(form.roles) }}
	        {{ form_errors(form.roles) }}
	        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
	    </div>
	    <div class="form-group">
	        {{ form_widget(form.enabled) }}
	        {{ form_label(form.enabled) }}
	    </div>
		<input class="btn btn-primary" type="submit" value="Save" />
	</div>
</div>
{{ form_end(form) }}