{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
	<div class="row action-bar">
		<div class="col-md-6">
			
		</div>
		<div class="col-md-6">
			<a class="btn btn-primary pull-right" href="{{ path('admin_user_new') }}"> <i class="fa fa-plus"></i> New </a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <table class="table table-bordered table-striped table-hover">
		        <thead>
		            <tr>
		                <th>#</th>
		                <th>Username</th>
		                <th>Email</th>
		                <th class="text-right">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for user in users %}
		            <tr>
		                <td>
		                	<a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a> 
		                </td>
		                <td> {{ user.username }} {% if user.id == app.user.id %} <span class="badge">You</span> {% endif %} </td>
		                <td> {{ user.email }} </td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-xs btn-default" href="{{ path('admin_user_edit', { 'id': user.id }) }}">edit</a>
								<a class="btn btn-xs btn-default" href="{{ path('admin_user_show', { 'id': user.id }) }}">show</a>
							</div>
							
		                </td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
		</div>
	</div>	   
{% endblock %}
