{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<div class="row action-bar">
	<div class="col-md-6">
		<a class="btn btn-default" href="{{ path('admin_user_index') }}"> <i class="fa fa-arrow-left"></i> Back </a>
	</div>
	<div class="col-md-6">
		{{ form_start(delete_form) }}
			<div class="btn-group pull-right">
				<input class="btn btn-danger" type="submit" value="Delete" onClick="return confirm('Are you sure?');">
				<a class="btn btn-default" href="{{ path('admin_user_edit', { 'id': user.id }) }}"> <i class="fa fa-pencil"></i> Edit </a>
			</div>
        {{ form_end(delete_form) }}
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
	    <dl class="dl-horizontal">
			<dt>Id</dt>
			<dd>{{ user.id }}</dd>
            <dt>Username</dt>
			<dd>{{ user.username }}</dd>
            <dt>Email</dt>
			<dd>{{ user.email }}</dd>
            <dt>Enabled</dt>
			<dd>{{ user.enabled ? 'True' : 'False' }}</dd>
		</dl>
	</div>
</div>
{% endblock %}
